body{
    width: 100vw;
    height: 100vh;
    padding-bottom: 0;
    margin: 0;
    overflow-x: hidden;
}
#header{
    color: green;
}
#head{
    text-align: center;
}
#name, #organization, #email, #number{
width: 500px;
height: 30px;
border: 2px solid blue;
border-radius: 50px;
}
#comment{
    border: 2px solid blue; 
    border-radius: 10px;
}
.form{
    font-size: 2rem;
    padding: 20px;
    width: 100%;
    position: relative;
    box-sizing: content-box;
}
.right{
    font-size: 2rem;
    padding: 20px;
    margin: 0;
    height: fit-content;
    width: 300px;
    position: absolute;
    top: 500px;
    left: 800px;
    background-color: olivedrab;
    border-radius: 50px;
}
#credit, #amount{
    height: 30px;
    width: 300px;
    border-color: indigo;
    border-radius: 50px;
}
 #button{
     background-color: blue;
     font-size: large;
     width: 50%;
     border-radius: 50px;
 }  
 #button1{
    background-color: blue;
    font-size: large;
    border-radius: 50px;
    width: 50%;
} 
.radio{
    width: 20px;
    height: 20px;
}
h2{
    font-size: 2rem;
}   
.head{
    background-color: papayawhip;
    padding: 20px;
}                                        
.body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./talent.jpg");
    margin-top: 20px;
    background-size: cover;
    background-attachment: fixed;
}