body {
    background-color: #696969;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}
h2{
    text-align: center;
    font-size: 50px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 0em;
    overflow: hidden;
    background-color: #c4c4c4;
}
li {
    float: left;
    padding: 0ex;
    font-size: 25px;
  }
li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover{
    background-color: #13c039;
    }
.profile{
    margin: 10px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.drawn> .art{
    width: 33%;
    float: left;
}
.art> img{
    height: 550px;
    width: 370;
}
.middle {
    margin: 10px;
}
#vid{
    display: flex;
    margin-left: 350px;
}
.academic {
    height: 550px;
    width: 1200;
    margin: 20px;
}
.academic> .students{
    float: left;
    width: 33%;
    justify-content: space-around;
}
.students > img{
    height: 370px;
    width: 400px;
    margin: 10px;
    border-radius: 8%;
}
footer {
    background-color: #A9A9A9;
    color: rgb(0, 0, 0);
    height: 40px;
    text-align: center;
    font-weight: 600;
    padding: 10px;
}